.form-group{
    margin-top: 50px;
    width: 350px;
    margin-left: 500px;
    height: 20px;
}

.btn{
  margin-left: 250px;
  margin-top: 20px;
}

.link{
  margin-left: 620px;
  margin-top: -35px;
}